config*
.venv/
__pycache__
main*
Make*
Dockerfile
docker*
build/*
cfaAzure.egg_info*
.ruff_cache
dist
.ipynb_checkpoints
yaml/*
working*
acr*
venv*
req*
yaml*
.coverage
run_client.py
*config.toml
!*exp_config.toml
!*task_config.toml
.vscode
