azure-identity==1.16.1
azure-keyvault==4.2.0
azure-batch==14.0.0
azure-mgmt-batch==17.1.0
azure-storage-blob==12.17.0
azure-containerregistry==1.2.0
callee
coverage
cryptography>=43.0.1
docker
numpy>=2.1.1
setuptools
pandas
pathlib
poetry
pytest
pytest-xdist
pyyaml
toml==0.10.2